###################################
# GLOBAL AND DEBUG ENVS
###################################
APP_NAME='hexagonal-boilerplate'
ENV_NAME='development'
TIMEZONE='America/Sao_Paulo'

###################################
# AWS SERVICES
###################################
# DYNAMO
AWS_DYNAMO_REGION='us-east-1'
AWS_DYNAMO_APIVERSION='2012-08-10'
AWS_DYNAMO_TODO_TABLE_NAME='todo'
# SQS
AWS_SQS_REGION='us-east-1'
AWS_SQS_APIVERSION='2012-11-05'
# S3
AWS_S3_APIVERSION='2006-03-01'
###################################
# LOCALSTACK
###################################
AWS_REGION='us-east-1'
AWS_ACCESS_KEY_ID='xxxx'
AWS_ACCESS_SECRET_KEY='xxxx'
LOCALSTACK_SERVICES=s3,sqs,dynamodb
AWS_DYNAMO_ENDPOINT='http://localhost:8000'
AWS_SQS_TODO_QUEUE_URL='http://localhost:8000'
