.DS_Store
node_modules
dist
.env
yarn-error.log
.vscode/settings.json
.serverless
.localstack
**/*/.terraform
**/*/terraform.tfstate
**/*/terraform.tfstate.backup
test-results
.scannerwork/
reports/
terraform.tfstate
terraform.tfstate.backup
.terraform/
